.*.swp
.deps
.tmp_versions
*.ko
*.cmd
*.mod
*.mod.c
*.o
*~
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/dkms.conf
/install-sh
/missing
/modules.order
/modtool
/plx905x-eeprom-config.h
/plx905x-eeprom-config.h.in
/stamp-h1
/driver/Module.symvers
/driver/modules.order
